<ngx-spinner
bdColor="rgba(0,0,0,0.8)"
size="medium"
color="whitesmoke"
type="ball-clip-rotate-multiple"
>
<p style="font-size: 20px; color: whitesmoke">Fetching details...</p>
</ngx-spinner>
<html>

<body>
    <div class="dropdwn">
        <nav>
         <img src="assets/logo.png" class="logo">
         <h4>OVERALL SALES DATA</h4>
         <div class="dd">
            <ul>
                <li>
                    <button mat-button [matMenuTriggerFor]="menu">
                        <mat-icon>account_circle</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu" xPosition="after">
                        <button mat-menu-item (click)="bck()">
                            <mat-icon>exit_to_app</mat-icon>
                            Sign out
                        </button>
                    </mat-menu>
                </li>
            </ul>
        </div>
        </nav>
    </div>

<table class="styled-table">
    <thead>
    <tr>
        <th>SNO</th>
        <th>CUSTOMER ID</th>
        <th>SALES ORGANISATION</th>
        <th>DISTRIBUTION CHANNEL</th>
        <th>DIVISION</th>
        <th>ORDER PROBABILITY</th>
        <th>INCOTERNS</th>
        <th>CURRENCY</th>
        <th>ACCOUNT GROUP</th>
    </tr> 
</thead>
<tbody>
    <tr *ngFor="let sale of del; let i = index" class="k-alt">
        <td>{{i + 1}}</td>
        <td>{{+sale.CUSID['_text']}}</td>
        <td>{{sale.SDORG['_text']}}</td>
        <td>{{sale.DCHANNEL['_text']}}</td>
        <td>{{sale.DIVISON['_text']}}</td>
        <td>{{sale.OPITEM['_text']}}</td>
        <td>{{sale.INCOTERNS['_text']}}</td>
        <td>{{sale.CURRENVY['_text']}}</td>
        <td>{{sale.ACCASS['_text']}}</td>
    </tr>
</tbody>
</table>
<button (click) ="back()"  class="button button1">BACK</button> 
<div class="dummy"></div>
</body>
</html>