<ngx-spinner
    bdColor="rgba(0,0,0,0.8)"
    size="medium"
    color="whitesmoke"
    type="ball-clip-rotate-multiple"
   >
  <p style="font-size: 20px; color: whitesmoke">Loading data...</p>
</ngx-spinner>

<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-icon-button (click)="toggleSidenav()" >
            <mat-icon>menu</mat-icon>
        </button>
  
        <span>  <img src="assets/logo.png" height="63px" width="75px"> </span>
         <h3>USAGE DEFINITION</h3>
         <div class="dd">
            <ul>
                <li>
                    <button mat-button [matMenuTriggerFor]="menu">
                        <mat-icon>account_circle</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu" xPosition="after">
                        <button mat-menu-item (click)="back()">
                            <mat-icon>exit_to_app</mat-icon>
                            Sign out
                        </button>
                    </mat-menu>
                </li>
            </ul>
        </div>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-sidenav-container>
      <mat-sidenav  #sidenav mode="side" opened class="example-container">
          <div class="image-cropper">
              <div id="image1" class="cropcircle"></div>
      </div>
      <mat-nav-list><mat-divider></mat-divider>
          <h2 matSubheader>Pages</h2>
          <a mat-list-item [routerLinkActive]="['is-active']" routerLink="/qualitylogin/dboard"><mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon><div class="space">Dashboard</div></a>
          <a mat-list-item [routerLinkActive]="['is-active']" routerLink="/qualitylogin/inc"><mat-icon aria-hidden="false" aria-label="Example home icon">notification_important</mat-icon><div class="space">Inspections</div></a>
          <a mat-list-item [routerLinkActive]="['is-active']" routerLink="/qualitylogin/res"><mat-icon aria-hidden="false" aria-label="Example home icon">work_outline</mat-icon><div class="space">Results</div></a>
          <a mat-list-item [routerLinkActive]="['is-active']" routerLink="/qualitylogin/usa"><mat-icon aria-hidden="false" aria-label="Example home icon">work_outline</mat-icon><div class="space">Usage Decision</div></a>
    
      </mat-nav-list><mat-divider></mat-divider>
      </mat-sidenav>
      <mat-sidenav-content>
        <mat-toolbar class="toolbar">
          <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" class="but" (click)="ncreate()">
            <mat-icon>add</mat-icon>
          </button>
        </mat-toolbar>
        <table class="styled-table">
          <thead>
            <tr>
              <th>Inspection Number</th>
              <th>Date</th>
              <th>Person</th>
              <th>Plant</th>
              <th>Quality score</th>
              <th>Further Usage</th>
              
            </tr>
          </thead>
          <tbody>
              <tr *ngFor="let sale of leavearray">
                <td>{{sale.PRUEFLOS['_text']}}</td>
                <td>{{sale.VDATUM['_text']}}</td>
                <td>{{sale.VNAME['_text']}}</td>
                <td>{{sale.VWERKS['_text']}}</td>
                <td>{{sale.QKENNZAHL['_text']}}</td>
                <td>{{sale.VORGLFNR['_text']}}</td>
            </tr>
           
          </tbody>
        </table>
      


      </mat-sidenav-content>
    </mat-sidenav-container>