<ngx-spinner
    bdColor="rgba(0,0,0,0.8)"
    size="medium"
    color="whitesmoke"
    type="ball-clip-rotate-multiple"
   >
  <p style="font-size: 20px; color: whitesmoke">Logging in...</p>
</ngx-spinner>
<body> 
    <div class="w3layouts-main"> 
        <div class="bg-layer">
            <h1>EHSM Login </h1> 
            <div class="header-main">
                <div class="main-icon">
                    <img src = "./assets/logo.png"  width = "100" height = "100" >      
                </div> 
                <div class="header-left-bottom">
                        <div class="icon1">
                            <span class="fa fa-user"></span>
                            <input type="text" placeholder="Username" id ="bukrs"  autofocus required="">
                        </div>
                        <div class="icon1">
                            <span class="fa fa-lock"></span>
                            <input type="password" placeholder="Password"  id="pwd" required=""/>
                        </div>
                         
                        <div class="bottom">
                            <button (click)="onClick()" class="btn"  type= "submit">Log In</button>
                            
                        </div>
                        <div class="links">
                            <p><a routerLink = "/home">Back to Home</a></p>
                        </div>
                        <div class="text-danger" *ngIf = "show">
                            <small>Invalid Username and Password!! </small>
                        </div>
                        <div class="text-danger" *ngIf = "show1">
                            <small>Please fill the required fields </small>
                        </div>
                        
                </div>
            </div>
        </div>
    </div>

    </body>