<ngx-spinner
    bdColor="rgba(0,0,0,0.8)"
    size="medium"
    color="whitesmoke"
    type="ball-clip-rotate-multiple"
   >
   <p style="font-size: 20px; color: whitesmoke">Fetching details...</p>
</ngx-spinner>
<html>
   
<body>
    <div class="dropdwn">
        <nav>
         <img src="assets/logo.png" class="logo">
         <h4>PAYMENT DETAILS</h4>
         <div class="dd">
            <ul>
                <li>
                    <button mat-button [matMenuTriggerFor]="menu">
                        <mat-icon>account_circle</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu" xPosition="after">
                        <button mat-menu-item (click)="bck()">
                            <mat-icon>exit_to_app</mat-icon>
                            Sign out
                        </button>
                    </mat-menu>
                </li>
            </ul>
        </div>
        </nav>
    </div>
<table class="styled-table">
    <thead>
        <tr>
        <th>SNO</th>
        <th>Accounting Document Number</th>
        <th>G/L Account Number</th>
        <th>Document Date</th>
        <th>Document Type</th>
    </tr>
</thead>
<tbody>
    <tr *ngFor="let sale of del; let i = index" class="k-alt">
        <td>{{i + 1}}</td>
        <td><button class="but" (click) = "ok(sale)">{{+sale.BELNR['_text']}}</button></td>
        <td>{{+sale.SAKNR['_text']}}</td>
        <td>{{sale.BLDAT['_text']}}</td>
        <td>{{sale.BLART['_text']}}</td>
    </tr>
</tbody>
</table>
<button (click) ="back()"  class="button button1">BACK</button> <div class="dummy"></div>
</body>
</html>