<ngx-spinner
    bdColor="rgba(0,0,0,0.8)"
    size="medium"
    color="whitesmoke"
    type="ball-clip-rotate-multiple"
   >
  <p style="font-size: 20px; color: whitesmoke">Loading data...</p>
</ngx-spinner>

<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-icon-button (click)="toggleSidenav()" >
            <mat-icon>menu</mat-icon>
        </button>
  
        <span>  <img src="assets/logo.png" height="63px" width="75px"> </span>
         <h3>PRODUCTION ORDER</h3>
         <div class="dd">
            <ul>
                <li>
                    <button mat-button [matMenuTriggerFor]="menu">
                        <mat-icon>account_circle</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu" xPosition="after">
                        <button mat-menu-item (click)="back()">
                            <mat-icon>exit_to_app</mat-icon>
                            Sign out
                        </button>
                    </mat-menu>
                </li>
            </ul>
        </div>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-sidenav-container>
      <mat-sidenav  #sidenav mode="side" opened class="example-container">
          <div class="image-cropper">
              <div id="image1" class="cropcircle"></div>
      </div>
      <mat-nav-list><mat-divider></mat-divider>
          <h2 matSubheader>Pages</h2>
  
          <a mat-list-item [routerLinkActive]="['is-active']" routerLink="/shopfloorlogin/dashboard"><mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon><div class="space">Dashboard</div></a>
          <a mat-list-item [routerLinkActive]="['is-active']" routerLink="/shopfloorlogin/plan"><mat-icon aria-hidden="false" aria-label="Example home icon">work_outline</mat-icon><div class="space">Planned Order</div></a>
          <a mat-list-item [routerLinkActive]="['is-active']" routerLink="/shopfloorlogin/prod"><mat-icon aria-hidden="false" aria-label="Example home icon">work_outline</mat-icon><div class="space">Production Order</div></a>
    
      </mat-nav-list><mat-divider></mat-divider>
      </mat-sidenav>
      <mat-sidenav-content>
        <mat-toolbar class="toolbar">
          <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" class="but" (click)="ncreate()">
            <mat-icon>add</mat-icon>
          </button>
        </mat-toolbar>
        <table class="styled-table">
          <thead>
            <tr>
              <th>Order Number</th>
              <th>Material No</th>
              <th>Quantity</th>
              <th>Start Date</th>
              <th>End Date</th>
              <th>Release date</th>
              <th>Action</th>
              <th>Release</th>
            </tr>
          </thead>
          <tbody>
              <tr *ngFor="let sale of leavearray">
                <td>{{+sale.ORDER_NUMBER['_text']}}</td>
                <td>{{+sale.MATERIAL['_text']}}</td>
                <td>{{sale.TARGET_QUANTITY['_text']}}</td>
                <td>{{sale.EXPL_DATE['_text']}}</td>
                <td>{{sale.FINISH_DATE['_text']}}</td>
                <td>{{sale.SCHED_RELEASE_DATE['_text']}}</td>
                <td><button mat-button style="color: green;" (click)=" openDialog(sale)">
                  <mat-icon aria-hidden="false" aria-label="Example home icon">create</mat-icon>
                </button></td>
                <td><button class="bb" (click)="rel(sale)">Release</button></td>
            </tr>
           
          </tbody>
        </table>
      


      </mat-sidenav-content>
    </mat-sidenav-container>