<body>
 <div class="main">
  <header>
  <div class="menu-bar">  
      <nav>
          <div class="logo">
          <img src="./assets/logo.png"  width="100">
        </div>
        <ul>
        <li> <a href = " " >Home</a></li>
        <li> <a pageScroll href = "#simple" >About Kaar</a></li>
        <li>Portals
        <div class="sub-menu">
          <ul>
              <li><a routerLink = "/customerlogin">Customer</a></li>
              <li><a routerLink = "/vendorlogin">Vendor</a></li>
              <li><a routerLink = "/employeelogin">Employee</a></li>
              <li><a routerLink = "/maintenancelogin">Maintenance</a></li>
              <li><a routerLink = "/shopfloorlogin">Shop-Floor</a></li>
              <li><a routerLink = "/ehsmlogin">EHSM</a></li>
              <li><a routerLink = "/qualitylogin">Quality Check</a></li>
          </ul>
        </div>
    </li>
        <li> <a pageScroll href = "#Portals">About Portals</a></li>
        <li><a pageScroll href = "#career" >Careers</a></li> 
    </ul> </nav>
</div> 
</header>
<div class="banner-area" >
    <h2>SAP PORTAL CENTRE</h2>
   <small>Powered by Kaar Technologies</small> 
</div>
<div class="content-area" id = "simple">
    <h1>About Us</h1>
			
            <p>Kaar Technologies is a global consulting firm focused at designing, delivering and deploying the finest ideas and SAP expertise to empower companies in achieving new heights of excellence in today’s challenging business landscape.</p>
<p>Our combined thrust drawn from the business vision of our leadership team and assimilated SAP capability propels us to partner with our clients in identifying and architecting their business agenda. As a CMMi level 3 company, Kaar believes in being a trusted advisor to clients and fosters long-term working relationships by exceeding customer expectations.</p>
<p>Driven by the steadfast pursuit of excellence, Kaar Technologies exudes professionalism and proficiency in all areas of function. Every day we are inspired to impact businesses with original and imaginative approaches and help cultivate tomorrow’s breakthroughs.</p>

</div>
<div class="carrers" id = "career"> 
    <h1><span>MORE THAN</span> JUST A JOB</h1>
    <h4>Kaar provides a challenging and growth oriented environment for career growth.</h4>
    <p>Employees of Kaar are encouraged to be very pro-active, innovative and result oriented. Furthermore it has a stated policy of encouraging a meritocracy oriented career growth. We believe in the encouragement of employee initiative because it contributes to the overall growth of Kaar.</p>
</div>
<div class="portal" id="Portals">
<h2> About Portals</h2>
<div class="block">
    <img src="./assets/cust1.jpg" height="200" width="300">
    <h3>CUSTOMER PORTAL</h3>
    <p> Customers can login using Customer Portal. 
        Customers can view , update their profile and can view their business transactions such as sales order data,invoice,..
         associated with kaar-technologies.</p>
    </div>
<div class="block">
    <img src="./assets/vendor.jpg" height="200" width="300">
    <h3>VENDOR PORTAL</h3>
    <p> Vendors can login using Vendor Portal. 
        Vendors can view , update their profile and can view their business transactions such as purchase order data,invoice,..
         associated with kaar-technologies.</p>
    </div>
<div class="block">
    <img src="./assets/emp.jpg" height="200" width="300">
    <h3>EMPLOYEE PORTAL</h3>
    <p> Employee can login using Employee Portal. 
        Employees can view , update their profile and can view their business transactions such as leave data,payslip,etc..
        associated with kaar-technologies.   </div>
<div class="block">
    <img src="./assets/main.jpg" height="200" width="300">
    <h3>MAINTENANCE PORTAL</h3>
    <p> Maintenance engineers can login using Maintenance Portal. 
        Maintenance engineers can view their business transactions such as work order,etc..
        associated with kaar-technologies.   </div>
    
    <div class="block">
        <img src="./assets/shop.jpg" height="200" width="300">
    <h3>SHOP FLOOR PORTAL</h3>
    <p> Shop-Floor members can login using Shop-Floor Portal. 
        Shop-Floor engineers can view their business transactions such as planned order,etc..
        associated with kaar-technologies. </div>
        <div class="block">
            <img src="./assets/qm1.jpg" height="200" width="300">
            <h3>QUALITY CHECK PORTAL</h3>
            <p> Quality-Check members can login using Quality-Check Portal. 
                Quality-Check engineers can view their business transactions such as inspection lot,results,etc..
        associated with kaar-technologies.   </div>
</div>
<footer>
<div class="foot">
     
    <ol>
        <li><h4>Follow Us</h4></li>
    <li><a href="https://www.linkedin.com/company/kaar-technologies-pvt-ltd-"  target="_blank"> <img src="./assets/linked.png"></a></li>
    <li><a href="https://twitter.com/kaartech"  target="_blank"> <img src="./assets/twitter.png"></a></li>
    <li><a href="http://www.youtube.com/user/Kaartech"  target="_blank"> <img src="./assets/youtube.png"></a></li>
    <li><a href="https://plus.google.com/110689529188520789023"  target="_blank"> <img src="./assets/google-pluse.png"></a></li>
    <li><a href="http://www.kaartech.com/blog/"  target="_blank"> <img src="./assets/blogger.png"></a></li>
    <li><a href="https://www.facebook.com/kaartech"  target="_blank"> <img src="./assets/facebook.png"></a></li>
</ol>  
<br/>
<small>© Kaar Technologies 2020.</small>
<ul>
    <li><img src="./assets/2.png" ></li>
    <li><img src="./assets/1.png" ></li>
    <li><img src="./assets/logo3.png" width="150" height=""></li>
    <li><img src="./assets/SAP.png" ></li>
</ul>
</div>
</footer>
</div>
</body>